.App .weather-app {
  background: linear-gradient(
    180.3deg,
    rgb(221, 221, 221) 5.5%,
    rgb(110, 136, 161) 90.2%
  );

  padding: 20px;
  border: 1px solid #413f41;
  border-radius: 5px;
}
.App .weather-app-wrapper {
  max-width: 700px;
  margin: 30px auto;
}
